### 필요한 라이브러리 불러오기

In [41]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

### url 변수에 크롤링할 홈페이지 주소 가져오기

In [42]:
url = "http://www.lotteria.com/menu/Menu_All.asp"

### 해당 url의 html을 불러오기 + HTML 분석하고 파싱

In [43]:
html = urlopen(url)
soup = BeautifulSoup(html, "html.parser")

### 원하는 정보 크롤링하기 - menu_list, kcal_list, price_list 라는 3가지 리스트에 각각 모든 메뉴, 칼로리, 가격 정보 모두 넣기(단 kcal, 원 단위는 생략)

In [75]:
menu_list = []
kcal_list = []
price_list = []

menu = soup.select("#frmNavi ul div.bx_flex.menuRoundWrap > div > a")
for i in menu:
    menu_list.append(i.text)
    
kcal = soup.select("#frmNavi ul div.bx_flex.menuRoundWrap > div > span")
for i in kcal:
    kcal_list.append(i.text[:-4])
    
price = soup.select("#frmNavi ul div.bx_flex.menuRoundWrap > div > strong")
for i in price:
    price_list.append(i.text[:-1])

#select_one, select, find, find_all 4가지 연산자 중 선택하여 사용하면 됩니다.

['핫클라쓰 세트',
 '마일드클라쓰 세트',
 '리아미라클버거 세트',
 '와규 에디션Ⅱ 세트',
 '더블X2 세트',
 '새우버거 세트',
 '치킨버거 세트',
 'T-Rex 버거 세트',
 'AZ버거 세트',
 '클래식 치즈버거 세트',
 '한우연인팩',
 '한우불고기 콤보',
 '한우불고기 세트',
 '한우명품팩',
 '모짜렐라 인 더 버거 베이컨 세트',
 '원조 빅불 세트',
 '핫크리스피버거세트',
 '데리버거 세트',
 '불고기버거 세트',
 '1인혼닭 세트',
 '패밀리팩',
 '치킨풀팩',
 '치킨하프팩',
 '순살치킨 풀팩',
 '순살치킨 하프팩',
 '핫클라쓰',
 '마일드클라쓰',
 '리아미라클버거',
 '와규 에디션Ⅱ',
 '더블X2',
 '새우버거',
 '치킨버거',
 'T-Rex',
 '클래식 치즈버거',
 '한우불고기',
 '모짜렐라 인 더 버거 - 베이컨',
 'AZ버거',
 '원조 빅불',
 '핫크리스피버거',
 '불고기버거',
 '데리버거',
 '1인혼닭',
 '치킨휠레 (4조각)',
 '화이어윙 (2조각)',
 '화이어윙 (4조각)',
 '치킨1조각',
 '치킨휠레 (2조각)',
 '찐氷',
 '치즈인더에그',
 '지파이 하바네로(L)',
 '지파이 고소한맛(S)',
 '치킨 너겟',
 '롱 치즈스틱(1조각)',
 '콘샐러드',
 '선데아이스크림(스트로베리)',
 '쉑쉑치킨(칠리)',
 '쉑쉑치킨(치즈)',
 '쉑쉑치킨(어니언)',
 '양념감자',
 '오징어링',
 '치즈스틱',
 '포테이토',
 '토네이도(초코쿠키)',
 '토네이도(녹차)',
 '토네이도(스트로베리)',
 '소프트콘',
 '아이스티',
 '아이스 아메리카노 L',
 '핫초코',
 '오렌지주스 (400ml PET)',
 '우유',
 '사이다(R)',
 '콜라(R)',
 '밀크쉐이크(딸기)',
 '밀크쉐이크(초코)',
 '밀크쉐이크(바닐라)',
 '아메리카노',
 '아이스 아메리카노',
 '카페라떼',
 '아이스 카페라떼',
 '레몬에이드']

### 가져온 정보(3개의 리스트)를 딕셔너리 형태로 만들기(칼럼명, 순서는 'menu', 'kcal', 'price') + 데이터프레임으로 만들어 5줄만 나타내기 (칼럼 순서 지켜야 함!)

In [76]:
dic = {'menu':menu_list, 'kcal':kcal_list, 'price':price_list}

df = pd.DataFrame(dic)
df.head(5)

         menu   kcal  price
0     핫클라쓰 세트  1,231  7,200
1   마일드클라쓰 세트  1,095  6,300
2  리아미라클버거 세트    968  7,400
3  와규 에디션Ⅱ 세트    892  7,600
4     더블X2 세트  1,125  7,500

### test 폴더에 csv파일로 저장 (파일이름은 '롯데리아메뉴', 엑셀 파일을 열었을 때 한글이 깨지지 않고, 인덱스 없이 저장하기)

In [78]:
df.to_csv('롯데리아메뉴.csv', encoding='euc-Kr', sep=',')

### df 변수에 저장했던 csv파일 불러오기, 옵션에 thousands=',' 추가하여 천 단위 표현(,)생략 + 5줄 나타내기

In [79]:
test_df = pd.read_csv('롯데리아메뉴.csv', encoding='euc-Kr')
test_df

    Unnamed: 0        menu   kcal  price
0            0     핫클라쓰 세트  1,231  7,200
1            1   마일드클라쓰 세트  1,095  6,300
2            2  리아미라클버거 세트    968  7,400
3            3  와규 에디션Ⅱ 세트    892  7,600
4            4     더블X2 세트  1,125  7,500
..         ...         ...    ...    ...
76          76       아메리카노     34  2,000
77          77   아이스 아메리카노     32  2,000
78          78        카페라떼    210  2,400
79          79    아이스 카페라떼     98  2,400
80          80       레몬에이드    151  2,500

[81 rows x 4 columns]

### df의 총 데이터 건수, 데이터 타입, Null 건수를 한 번에 알아보기

In [80]:
df.info

<bound method DataFrame.info of           menu   kcal  price
0      핫클라쓰 세트  1,231  7,200
1    마일드클라쓰 세트  1,095  6,300
2   리아미라클버거 세트    968  7,400
3   와규 에디션Ⅱ 세트    892  7,600
4      더블X2 세트  1,125  7,500
..         ...    ...    ...
76       아메리카노     34  2,000
77   아이스 아메리카노     32  2,000
78        카페라떼    210  2,400
79    아이스 카페라떼     98  2,400
80       레몬에이드    151  2,500

[81 rows x 3 columns]>

### df의 'menu' 칼럼명을 '메뉴'로 수정하기

In [81]:
df.rename(columns={df.columns[0]:'메뉴'}, inplace=True)
df.head(3)

           메뉴   kcal  price
0     핫클라쓰 세트  1,231  7,200
1   마일드클라쓰 세트  1,095  6,300
2  리아미라클버거 세트    968  7,400

### df의 인덱스를 확인하기

In [82]:
df.index

RangeIndex(start=0, stop=81, step=1)

### (loc, iloc 명령 중 선택하여 사용) df의 인덱스를 확인하여 맨 마지막 그 다음 행(81번째 행)에 '메뉴'는 '오미자에이드', 'kcal'는 140, 'price'는 3000 정보를 가진 행 추가하기 + 맨 마지막 행 확인하기

In [90]:
df.loc[81] = {'메뉴':'오미자에이드', 'kcal':'140', 'price':'3000'}
df.iloc[-1]

메뉴       오미자에이드
kcal        140
price      3000
Name: 81, dtype: object

### df를 복사하여 df2라는 새로운 데이터프레임 만들기

In [91]:
df2= df.copy()

### df2 에 '만족도'라는 새로운 칼럼을 만들어  '만족도' 값이 모두 NaN값을 가지도록 하기 + 5줄 나타내기

In [106]:
df2['만족도'] = 'NaN'
df2.head(5)

           메뉴   kcal  price  만족도
0     핫클라쓰 세트  1,231  7,200  NaN
1   마일드클라쓰 세트  1,095  6,300  NaN
2  리아미라클버거 세트    968  7,400  NaN
3  와규 에디션Ⅱ 세트    892  7,600  NaN
4     더블X2 세트  1,125  7,500  NaN

### g_index라는 변수에 kcal가 500미만이고, price가 5000 이하인 인덱스를 저장하기 + 인덱스가 g_index인 '만족도' 값을 모두 5로 만들기 (loc, iloc 명령 중 선택하여 사용)

In [118]:
g_index = df2[(df2['kcal'] < 500) & (df2['price'] <= 5000)]
g_index.loc[]{'만족도':'5'}

SyntaxError: invalid syntax (<ipython-input-118-f07582a69ec1>, line 2)

### s_index라는 변수에 kcal가 500이상, 1000미만인 인덱스를 저장하기 + 인덱스가 s_index인 '만족도' 값을 모두 3로 만들기 (loc, iloc 명령 중 선택하여 사용)

### b_index라는 변수에 kcal가 1000이상인 인덱스를 저장하기 + 인덱스가 b_index인 '만족도' 값을 모두 1로 만들기 (loc, iloc 명령 중 선택하여 사용)

### df2의 각각의 칼럼에 총 몇 개의 NaN을 가지고 있는지 한 번에 나타내기

In [109]:
df2.describe(include='NaN')

                        메뉴 kcal  price  만족도
count                   82   82     82   82
unique                  82   78     51    1
top     모짜렐라 인 더 버거 베이컨 세트  272  2,500  NaN
freq                     1    2      9   82

### df2의 '만족도' 칼럼이 NaN인 행의 데이터 찾기

In [110]:
df2[df2['만족도'].isnull()]

Empty DataFrame
Columns: [메뉴, kcal, price, 만족도]
Index: []

### df2가 갖고 있는 결손 데이터 삭제하기 + 삭제가 잘 되었는지 확인하기

In [ ]:
df2.drop([0], inplace=True, axis=0)
df2.head()

### df를 'price'가 높은 순서대로 정렬하여 'high_price'라는 새로운 데이터프레임으로 저장하기 + high_price 데이터 프레임의 인덱스를 '메뉴'로 바꾸기 + high_price 상위 7줄 나타내기

### matplotlib을 사용하여 시각화하기

In [92]:
import matplotlib.pyplot as plt
%matplotlib inline

import platform
from matplotlib import font_manager, rc

plt.rcParams['axes.unicode_minus'] = False

#윈도우
path = "c:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=path).get_name()
rc('font', family=font_name)

#맥
#rc('font', family='AppleGothic')

In [115]:
t = np.arange(df['kcal'], df.['price'], 0.1)
y = np.sin(t)

SyntaxError: invalid syntax (<ipython-input-115-d812a9d4c19a>, line 1)

### 시각화 조건
figure 크기는 (10,10)

plt.scatter을 사용하여 데이터를 점으로 나타내기, x축 값은 df['kcal'], y축 값은 df['price'], 점의 사이즈는 50, 마커 모양은 별모양, 색깔은 초록색

제목은 '롯데리아 메뉴'

x축 제목은 '칼로리'

y축 제목은 '가격'

y축 범위는 0~20000

high_price 데이터 프레임을 사용하여 가격이 높은 상위 7개 메뉴 글자로 나타내기

시각화 한 차트를 현재경로(test폴더)에 png 형식으로 저장하기 (파일명: '롯데리아메뉴_학년반번호이름')
ex) 롯데리아메뉴_3221임은영

In [119]:
df2['투표 수'].sort_values().plot(t, y, color='green', figsize=(10, 10), title='롯데리아 메뉴', marker = '*')
plt.scatter(s = 50)
plt.xlabel('칼로리')
plt.ylabel('가격')
plt.ylim([0, 20000])

plt.savefig('롯데리아메뉴_3118정훈.png')
plt.show()

KeyError: '투표 수'